$light_blue: #008DF9;
$dark_blue: #0062AD;
$yellow: #FAC000;
$brown: #AD6800;
$black: #050505;
$white: #FAFAFA;

// How much the corners are rounded
$default_border-radius: 6px;

// Padding of margin of elements to other elements
$default_margin: 20px;
$twice_margin: $default_margin * 2;
$half_margin: $default_margin / 2;

@import "_mixins.scss";

*{
  padding : 0px;
  margin : 0px;
  border : 0px;
}

html{
  background : $yellow;
  font: 15px Calibri,"Trebuchet MS",Verdana,sans-serif;
}

a {
  color: white;
  font-style: italic;
}
a:hover {
  color: yellow;
}
h1, h2, h3, h4, h5, h6 {
    color: #fff;
    font-family: Cambria,Georgia,"Times New Roman",serif;
    font-style: italic;
    font-weight: normal;
    margin-bottom: 0.25em;
    margin-top: 0.5em;
    padding: 0.75em 0 0 0.75em;
}
h1 {
  font-size: 160%;
}
h2 {
  font-size: 140%;
}
h3, h4, h5, h6 {
  font-size: 120%;
}

#profile {
  #avatar {
    -moz-transform: rotate(-5deg);
    -webkit-transform: rotate(-5deg);
    background: none repeat scroll 0 0 #EEEEEE;
    border: 1px solid #FFFFFF;
    box-shadow: 0 2px 15px #333333;
    float: left;
    margin: 10px;
    padding: 10px;
    img {
      margin: 0 auto;
      display: block;
    }
    h3 {
      color: black;
      margin-left: auto;
      margin-right: auto;
      text-align: center;
      padding: 0;
      max-width: 240px;
    }
  }
  #info {
    margin-left: 220px;
    padding: 10px;
  }
}

body {
  #wrapper{
    width : 100%;
    height : 100%;
    padding-top: 50px;
    padding-bottom: 50px;
    @include gradient($yellow * 1.2, $yellow, $yellow);
    
    #container{
      margin     : 0px auto auto;
      width      : 750px;
      min-height : 600px;      
      border     : 5px solid white;
      overflow   : visible;
      @include corners();
      @include gradient($light_blue * 1.2, $light_blue, $light_blue);
      @include shadow(0px, 0px, 5px, $black);
      
      #left{
        background: url('images/clip.png');
        background-repeat: repeat-y;
        
        position: relative;
        left: -20px;
        width: 60px;
        height: 590px;
        float: left;
      }
      #middle{
        width : 485px;
        float: left;
        min-height: 595px;
      }
      #right{
        width : 140px;
        overflow : visible;
        float: left;
        min-height: 595px;
      }
      
      #header{
        width : 100%;
        height: 200px;
        float: left;
      }
      #where-am-i{
        width : 200px;
        height: 175px;
        float: left;
        padding: 50px;
        margin-left: -0px;
        margin-top: -50px;
        
        background: url('images/note.png');
        background-repeat: no-repeat;
        
        a {
          color : black;
        }
        a:hover{
          color: #888;
        }
        #quicknav{
          float: right;
          clear:both;
        }
        #info{
          clear:both;
          position: relative;
          top: 10px;
        }
      }
      #header{
      
        h1{
          margin: 60px 0px 0px 20px;
          padding: 0px;
          color: white;
          font-weight: bold;
          font-size: 65px;
        }
      }
      #content{
        width : 100%;
        float: left;
      }
      #sidebar{
        margin-left: 10px;
        width : 200px;
        float: left;
        ul{
          li{
            width: 225px;
            height: 70px;
            background : url('images/bookmark-default.png');
            margin-left: -2px;
            list-style: none;
            text-align: center;
            font-size: 13px;
            a {
              display: block;
              padding: 15px 5px;
              text-decoration: none;
              color: white;
              font-weight: bold;
              font-style: normal;
            }
            a:hover {
              color: yellow;
            }
          }
          li:hover{
            background : url('images/bookmark-hover.png');
          }
          li.active{
            background : url('images/bookmark-current.png');
          }
          li:hover.active{
            background : url('images/bookmark-current.png');
          }
        }
      }
    }
  }
}

#quicknav li {
  cursor     : pointer;
  float      : left;
  list-style : none outside none;
  margin     : 2px;
  padding    : 4px;
  position   : relative;
}

#exercise{
  width: 400px;
  .figure-1, .figure-2{
  }
  .exercise{
    margin-bottom: 5px;
    float: right;
    font-size: 30px;
    font-weight: bold;
    
    input {
      font-size: 30px;
      padding: 5px;
      width: 175px;
      @include corners();
      border: 3px solid white;
      background: #ffc601;
      @include inset_shadow(3px, 3px, 4px, $black);
    }
  }
}

input {
  padding: 10px;
}
