<div class="exercise">
  <span class="figure-1"></span>
  <span class="operator"></span>
  <span class="figure-2"></span>
  <span class="equal-sign">=</span>
  <input class="result" type="text" autocomplete="off"></input>
  <span class="validation"></span>
</div>